@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.separator {
  clip-path: polygon(0 12.5%, 100% 0, 100% 100%, 0% 100%);
  z-index: 0;
}

.separator-2 {
  clip-path: polygon(0 3.125%, 100% 0, 100% 100%, 0% 100%);
  z-index: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.carousel-card {
  transition: transform 0.5s ease;
}

.hidden-card {
  transform: rotateY(30deg);
}

.gradient-border {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #a17858 47%, #2f2014 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.gradient-background {
  background-image: linear-gradient(to left, #a17858 47%, #2f2014 100%);
}

.gradient-background-2 {
  background-image: linear-gradient(to left, #8d804f 100%, #f6ece3 47%);
}
